
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

*{
    margin: 0px;
    padding: 0px;
    
}
:root{
    --color-01:#e38826;
    --color-02:#006970;
    --color-03:#004241;
    --color-04:white;

    --color-paragraphs: #ffffffbf; /* paragraphs*/
    --color-advances:#f2f2f2; /* background, headings, buttons  */

}





/**** CONFIGURAÇÃO DOS  CARDS  ***/

#row{
    margin-top: 20%;
    margin-left: 10%;
}
@media screen and (max-width: 600px){
    #row{
        margin-top: 15%;
        margin-left: 0%;
        margin-right: 1%;
    }
    #sedan{
        border-radius: 10px;
        }
}

/* CONFIGURAÇÕES GENERICAS */

#sedan, #suv, #lx{

padding: 50px;

}

div h5{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: var(--color-04);
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 25px;

}

div p{
    font-size: 15px;
    line-height: 25px;
    width: 200px;
    color: var(--color-04);
    margin-bottom: 50px;
}


#sedan img, #suv img, #lx img{
margin-bottom: 25px;


}
/* ===CONFUGURAÇOES GENERICAS DE BOTÕES ======= */
div button{
    background-color: var(--color-04);
    font-weight: bolder;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    transition: background-color 0.5s;
  
}
/* ======================== */

/* CONFIGURAÇÕES ESPECIFICAS */

#sedan{
background-color: var(--color-01);
border-radius: 10px 0px 0px 10px;
}
#sedan button{
    color: var(--color-01);
}
#sedan button:hover{
    background-color: var(--color-01);
    color: var(--color-04);
   border: 1px solid var(--color-04);
}

#suv{
    background-color: var(--color-02);
}
#suv button{
    color: var(--color-02);
    
}

#suv button:hover{
    background-color: var(--color-02);
    color: var(--color-04);
   border: 1px solid var(--color-04);
}

#lx{
    border-radius: 0px 10px 10px 0px;
    background-color: var(--color-03);
}

#lx button{
    color: var(--color-03);
}

#lx button:hover{
    background-color: var(--color-03);
    color: var(--color-04);
   border: 1px solid var(--color-04);
}

/* ======================== */





